li a{
    text-decoration: none;
    color: black;
}
.more_adr{
    float: right;
}
.Correct-Answer{
display: none;
}
.btn-small{
--bs-btn-padding-y: .25rem;
--bs-btn-padding-x: .5rem;
--bs-btn-font-size: .75rem;
}
ul label{
font-size: 115%;
}